.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* 使卡片居中 */
}

.card-item {
    width: 170px; /* 根據需要調整 */
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #fff;
    padding: 5px;
}

.card-item:hover {
    transform: scale(1.04);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-name {
    font-weight: bold;
}

.card-info {
    margin: 5px 0; /* 增加上下間距 */
}